<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10 bg-white p-5 rounded">
    <div class="contact-head border-bottom my-3 pb-3"><h1 class="d-flex justify-content-center">プレイリスト作成</h1></div>
    <div class="form my-3">
    <%= form_with model: @play_list, url: play_lists_path, method: :post, local: true do |f|%>
    <div class="row">
      <div class=" form-group col">
        <%= f.label "プレイリスト名" %>
        <%= f.text_field :title, class: "form-control"%>
      </div>
      <div class="form-group col">
        <%= f.label "タグ" %>
        <%= f.text_field :name, class: "form-control", id: "formTagInput" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "プレイリスト説明" %>
      <%= f.text_area :body, class: "form-control", id: "textarea1", rows: "3" %>
    </div>
    <div class="field">
      <%= f.label "イメージ画像" %>
      <%= f.attachment_field :play_list_image %>
    </div>
      <% @play_list.songs.each_with_index do |song, i|%>
       <%= f.fields_for :songs, song do |song_field| %>
       <div class="form-group row">
         <div class="col-6">
          <%= (i + 1).to_s+ "曲目" %>
          <%= f.label '曲名' %>
          <%= song_field.text_field :name, class: "form-control" %>
         </div>
         <div class="col-6">
          <%= f.label 'アーティスト名' %>
          <%= song_field.text_field :artist_name, class: "form-control" %>
         </div>
       </div>
       <div class="form-group">
         <%= f.label '説明文' %>
         <%= song_field.text_field :description, class: "form-control" %>
        </div>
        <% end %>
      <% end %>
    <div class="submit_bottom_group d-flex justify-content-center mt-4">
    <%= f.submit "入力内容を送信する", class: "btn submit-bottom" %>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
