<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class=" text-algin-center">プレイリスト新規登録画面</h1>
    </div>

    <div class="col-12">
      <%= form_with url: new_song_path,method: :post, local: true do |f|%>
         <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title %>
         </div>
         <div class="field">
            <%= f.label :body %>
            <%= f.text_field :body %>
         </div>
         <div class="field">
            <%= f.label :tag_name %>
            <%= f.text_field :tag_name %>
         </div>
      <%= f.submit '曲を追加する' %>
      <% end %>
    </div>
  </div>
</div>

