<div class="container bg-white">
    <div class="row p-5 show_top">
      <div class="col-8">
        <div><h2><%= @play_list.title %></h2> <% @play_list.tags.each do |tag| %><span><%= tag.name %>(<%= tag.tag_maps.count%>)</span><% end %></div>
        <div><p><%= @play_list.body %></p></div>
        <div>
          <ul>
          <% @play_list.songs.each do |song| %>
            <li><div><%= song.name %></div></li>
          <% end %>
          </ul>
        </div>
      </div>
      <div class="col-4"><%= attachment_image_tag @play_list, :play_list_image, size: "200x200", fallback: "no-image.jpg" %></div>
      <div class="col-8-offset">
        <% @play_list.songs.each do |song| %>
          <div class="py-2"><h5><%= song.name %> / <%= song.artist_name %></h5><div>
          <div class="pl-5"><%= song.description %></div>
          <% end %>
      </div>
    </div>

    <div class="favorites">
      <% if @play_list.favorited_by?(current_user) %>
    <p>
      <%= link_to play_list_favorite_path(@play_list), method: :delete do %>
        ♥<%= @play_list.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to play_list_favorites_path(@play_list), method: :post do %>
        ♡<%= @play_list.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
    </div>
    <% @comments.each do |comment|%>
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-4"><%= attachment_image_tag comment.user, :profile_image, size: "50x50", fallback: "no-image.jpg" %></div>
          <div class="col-8"><%= comment.content %></div>
        </div>
      </div>
    <% end %>

    <div class="col-12">
    <table>
      <tbody>
        コメント欄
        <tr>
          <%= form_with model:[@play_list, @comment], local: true do |f| %>
          <td><%= f.text_area :content, size: "50x5" %><%= f.submit "コメント" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
</div>
