<div class="container">
  <div class="my-page-wrapper">
    <div class="my-page-left">
      <div class="left bg-white p-2 rounded">
      <div class="user-info mt-4">
        <div class="col-4-offset d-flex justify-content-center"><%= attachment_image_tag @user, :profile_image, size: "72x72", fallback: "no-user-image.png" %></div>
        <div class="col-4-offset d-flex justify-content-center mt-2"><%= @user.name %><% if @user.age.present?%> (<%= @user.age %>)<% end %></div>
        <div class="col-10-offset d-flex justify-content-center"><%= @user.introduction %></div>
      </div>
      <div class="user-info-follows">
        <div class="row user-info-detail pt-2">
          <div class="col-4 d-flex justify-content-center user-info-count"><%= @user.play_lists.count%></div>
          <div class="col-4 d-flex justify-content-center user-info-count"><%= @user.favorites.count%></div>
          <div class="col-4 d-flex justify-content-center user-info-count"><%= @user.follower_user.count%></div>
        </div>
        <div class="row user-info-detail">
          <div class="col-4 d-flex justify-content-center text-secondary">投稿</div>
          <div class="col-4 d-flex justify-content-center text-secondary">ブックマーク</div>
         <div class="col-4 d-flex justify-content-center text-secondary">フォロワー</div>
        </div>
      </div>
      <div class="user-info-edit d-flex justify-content-center pb-3">
        <% if current_user.id == @user.id %>
          <%= link_to "プロフィールを編集する", profile_path, class: "btn btn-outline-dark mt-3" %>
        <% else %>
        <%= link_to "dm", "/rooms/create/#{@user.id}", method: :post %>
          <% if current_user.following?(@user)%>
            <%= link_to "フォローを外す", user_unfollow_path(@user), class: "btn btn-outline-dark" , method: :delete %>
          <% else %>
            <%= link_to "フォローする", user_follow_path(@user), class: "btn btn-outline-dark" , method: :post %>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>
    <div class="my-page-right bg-white rounded">
      <div class="my-page-right-top m-3">
      </div>
      <div class="my-page-right-bottom">
        <div class="tab-area">
          <div class="tab active">プレイリスト</div>
          <div class="tab">ブックマーク</div>
        </div>
        <div class="content-area">
          <div class="content show">
            <% @user.play_lists.each do |play_list| %>
              <div class="play_list_each d-flex justify-content-center">
                <div class="p-4 user-play-list"><%= link_to play_list_path(play_list) do %><%= attachment_image_tag play_list, :play_list_image, size: "80x80", fallback: "no-image.jpg", class: "rounded" %><% end %></div>
                <div class="col-8 user-play-list text-align-center">
                  <div><% play_list.tags.each do |tag| %><p class="tag"><%= tag.name %></p><% end %></div>
                  <div class="title"><%= play_list.title %></div>
                  <div class="bookmark"><%= play_list.favorites.count %></div>
                  <div class="body"><%= play_list.body %></div>
                  <div class="created_at"><%= play_list.created_at.strftime("%Y-%m-%d") %></div>
                </div>
                <div class="col-2">
                  <% if @user == current_user %><%= link_to "削除", play_list_path(play_list), method: :delete %><% end %>
                  <% if @user == current_user %><%= link_to "編集", edit_play_list_path(play_list) %><% end %>
                </div>
              </div>
            <% end %>
          </div>
        <div class="content">
          <% @user.favorite_play_lists.each do |play_list| %>
           <div class="play_list_each d-flex justify-content-center">
            <div class="p-4 user-play-list"><%= link_to play_list_path(play_list) do %><%= attachment_image_tag play_list, :play_list_image, size: "80x80", fallback: "no-image.jpg", class: "rounded" %><% end %></div>
              <div class="col-8 user-play-list text-align-center">
                <div><% play_list.tags.each do |tag| %><p class="tag"><%= tag.name %></p><% end %></div>
                <div class="title"><%= play_list.title %></div>
                <div class="bookmark"><%= play_list.favorites.count %></div>
                <div class="body"><%= play_list.body %></div>
                <div class="created_at"><%= play_list.created_at.strftime("%Y-%m-%d") %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
