<div class="container">
  <div class="row mt-5">
    <div class="col-4 d-flex justify-content-center">
      <%= render 'mypages/edit_left' %>
    </div>
    <div class="col-7 bg-white">
      <div class="account-info-top text-align-center">
        <ul>
          <li><%= link_to "メールアドレス", root_path %></li>
          <li><%= link_to "メールアドレス", root_path %></li>
          <li><%= link_to "メールアドレス", root_path %></li>
        </ul>
      </div>
      <div class="account-info-bottom">
        <div class="col-12"><%= link_to "退会する", resign_path %></div>
      </div>
    </div>
  </div>
</div>