
<div class="top-content top-image">
  <div class="top-text">
    <div class="top-text-musicrows">musicrows</div>
    <div class="top-text-comment">The internet’s source of freely-usable images.</div>
    <div class="search-div">
      <%= form_with url: searches_path, method: :get, local: true do |f| %>
        <%= f.text_field :search, placeholder: "プレイリスト名、曲名など", class: "form_control search-input rounded" %>
        <%= f.hidden_field :target, value: "play_lists" %>
          <%= button_tag :type => "submit", :class =>"sbtn2" do %>
             <i class="fa fa-search"></i>
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<div class="middle-content top-page container">
  <div class="section-title section-to_who pt-5 pb-5"><h2 class="color-yellow">こんなときに、こんな人に</h2></div>
  <div class="row rounded bg-white p-3 ">
    <div class="col-12">
      <div class="play_list_bodys">
      <% @play_lists.each do |play_list| %>
        <% if play_list.body.present? %>
          <div><span><%= link_to play_list_path(play_list) do %><%= play_list.body %><% end %></span></div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 section-title section-todays_play_list pt-5"><h2 class="color-pink">曲名から探す</h2></div>
    <div class="col-1"></div>
    <div class="col-5 section-title section-todays_play_list pt-5"><h2 class="color-green">タグから探す</h2></div>
  </div>
  <div class="row my-5 content d-flex justify-content-center">
    <div class="col-5 bg-white rounded mr-1 content-left">

      <div class="inner-content">
       <% @songs.each do |song| %>
         <% if song.name.present? %>
           <% @search = song.name %>
             <p class="p-1"><%= link_to searches_path(search: @search, target: "song"), class: "song-border p-2 w-100" do %><i class="fas fa-music mr-2"></i><%= song.name %> / <%= song.artist_name %><% end %></p>
            <% end %>
       <% end %>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5 bg-white rounded ml-1 content-right">
      <div class="inner-content">
        <% @tags.each do |tag|%>
          <% @search = tag.name %>
          <span><%= link_to searches_path(search: @search, target: "tag"), class: "tag" do %><%= tag.name %><% end %> </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="section-title section-search-images pt-5"><h2 class="color-deepblue">写真から選ぶ</h2></div>
  <div class="row my-5 content">
    <div class="col-12 seacrh-images">
      <% @play_lists.each do |play_list| %>
        <% if play_list.play_list_image.present? %>
          <span class="seacrh-image"><%= link_to play_list_path(play_list) do %><%= attachment_image_tag play_list, :play_list_image, size: "100x100", class: "search-images" %><% end %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="section-title"><h2 class="color-purple">人気プレイリスト</h2></div>
  <div class="row my-5 conetnt">
    <div class="col-2"><h2></h2></div>
    <div id="slider" class="col-12">
      <% @play_lists.each do |play_list| %>
        <div class="slider-content">
          <div class="slider-content-image"><%= link_to play_list_path(play_list) do %><%= attachment_image_tag play_list, :play_list_image, size: "200x200", fallback: "no-image.jpg", class: "slider-content-image-play_list" %><% end %></div>
          <div class="slider-content-title"><p><%= play_list.title %></p></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="section-title recomend-play_lists pt-5"><h2 class="color-lightblue">人気のユーザ</h2></div>
  <div class="row my-5 content">
    <div id="slider2" class="col-12">
      <% @users.each do |user| %>
        <div class="slider-content">
          <div class="slider-content-image"><%= link_to user_path(user) do %><%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "no-user-image.png", class: "slider-content-image-user" %><% end %></div>
          <div class="slider-content-title d-flex justfy-content-center"><p><%= user.name %></p></div>
        </div>
      <% end %>
    </div>
  </div>

</div>