<div class="container search-container">
  <div class="row search-index-top p-5 bg-white">
    <div class="col-12 search-box">
      <%= form_with url: searches_path, method: :get, local: true do |f| %>
       <%= f.text_field :search, value: @search, placeholder: "プレイリスト名、曲名など", class: "form_control search-input rounded" %>
       <%= f.hidden_field :target, value: "play_lists" %>
        <%= button_tag :type => "submit", :class =>"sbtn2" do %>
           <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    </div>
   <div class="col-12 mt-5"><h1>"<%= @search %>"の検索結果</h1></div>
   <div class="col-12 mt-4 tab-wrapper d-flex justify-content-center">
    <div class="tab2 tab2-play_list">
      <%=  link_to "プレイリストから探す", searches_path(search: @search, target: "play_list"), remote: true, class: "tab2" %>
    </div>
    <div class="tab2 tab2-song">
      <%= link_to "曲名から探す", searches_path(search: @search, target: "song"), remote: true, class: "tab2 link" %>
    </div>
    <div class="tab2 tab2-tag">
      <%=  link_to "タグから探す", searches_path(search: @search, target: "tag"), remote: true, class: "tab2 link" %>
    </div>
    <div class="tab2 tab2-user">
      <%=  link_to "ユーザから探す", searches_path(search: @search, target: "user"), remote: true, class: "tab2 link" %>
    </div>
    <div class="tab2 tab2-artist">
      <%=  link_to "アーティストから探す", searches_path(search: @search, target: "user"), remote: true, class: "tab2 link" %>
    </div>
  </div>
  </div>
  <div class="row results bg-white">
    <div class="search-wrapper col-10" id="search-index">
      <%= render "search_index", play_lists: @play_lists, target: @target, users: @users %>
    </div>
  </div>
</div>
</div>
</div>