<div class="container">
  <div class="row bg-white rounded">
    <div class="col-12">
     <table class="table table-hover">
  　　　<thead>
    　<tr>
        <th scope="col">ユーザID</th>
        <th scope="col"></th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
   　  </tr>
      </thead>
  　　<tbody>
  　　  <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <!--<td><%= link_to admin_user_path(user) do %><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-user-image.png" %><% end %></td>-->
          <!--<td><%= link_to admin_user_path(user.id) do %><%= user.name %><% end %></td>-->
          <td><%= attachment_image_tag user, :profile_image, size: "50x50", fallback: "no-user-image.png" %></td>
          <td><%= user.name %></td>
            <td>
              <% if user.is_deleted == false %>
                <%= link_to "アカウント停止", admin_users_hide_path(user),method: :put, class: "btn btn-danger", "data-confirm" => "本当に停止しますか？" %>
              <% else %>
                <%= link_to "停止解除", admin_users_open_path(user),method: :put, class: "btn btn-success" %>
              <% end %>
           </td>
          </td>
        </tr>
        <% end %>
      </tbody>
　　　</table>
    </div>
  </div>
  </div>