<!DOCTYPE html>
<html>
  <head>
    <title>Musicrows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
  </head>

  <body>
    <script>
    $(function() {
      const hum = $('#hamburger, .close')
      const nav = $('.sp-nav')
        hum.on('click', function(){
          nav.toggleClass('toggle');
      });
    });
    </script>

    <header class="main_h not_show">
      <%= link_to "/" do %><%= image_tag "musicrows-favcon.png" , size: '110x55', class: "ml-2" %><% end %>
      <nav class="pc-nav">
        <% if user_signed_in?  %>
         <ul>
            <li><%= link_to("Home", root_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("About", homes_about_path, {class: "nav-item nav-link text-light"}) %></li>
            <li class="nav-item dropdown">
              <% if unchecked_notifications.any? %><i class="fa fa-circle" style="color: gold;"></i><% end %>
                <a class="nav-link text-light" data-toggle="dropdown" href="#" role="button" >Notice</a>
                <div class="dropdown-menu dropdown-menu-notifications">
                  <% if @notifications.exists? %>
                      <%= link_to destroy_all_users_notifications_path, method: :delete do %>
                      <i class="fas fa-trash" style="color: black;"></i>
                      <% end %>
                    <div class="users-index">
                      <%= render partial: "notifications/notification", collection: @notifications %>
                    </div>
                  <% else %>
                  <p>通知はありません</p>
                <% end %>
                </div>
            </li>
            <li><%= link_to("投稿する", new_play_list_path, {class: "nav-item nav-link text-light"}) %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">マイページ</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/users/<%= current_user.id %>">マイページ</a>
                <a class="dropdown-item" href="/mypages/profile">プロフィール編集</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/sign_out" data-method="delete">ログアウト</a>
              </div>
            </li>
         </ul>
        <% elsif admin_signed_in? %>
        <ul>
          <li><%= link_to("ユーザ一覧", admin_users_path, {class: "nav-item nav-link text-light"}) %></li>
          <li><%= link_to("プレイリスト一覧", admin_play_lists_path, {class: "nav-item nav-link text-light"}) %></li>
          <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-item nav-link text-light" %></li>
        </ul>
        <% else %>
        <ul>
          <li><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, {method: :post, class: "nav-item nav-link text-primary"} %></li>
          <li><%= link_to("管理者ログイン", new_admin_session_path, {class: "nav-item nav-link text-danger"}) %></li>
          <li><%= link_to("Home", root_path, {class: "nav-item nav-link text-light"}) %></li>
          <li><%= link_to("ログイン", homes_before_signin_path, {class: "nav-item nav-link text-light"}) %></li>
          <li><%= link_to("会員登録", homes_before_signup_path, {class: "nav-item nav-link text-light"}) %></li>
        </ul>
        <% end %>
      </nav>
      <nav class="sp-nav">
          <% if user_signed_in?  %>
          <ul>
            <li><%= link_to("Home", root_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("About", root_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("Notice", notifications_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("投稿する", new_play_list_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("マイページ", user_path(current_user), {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-item nav-link text-light" %></li>
            <li class="close"><span>閉じる</span></li>
          </ul>
          <% else %>
          <ul>
            <li><%= link_to("管理者ログイン", new_admin_session_path, {class: "nav-item nav-link text-danger"}) %></li>
            <li><%= link_to("Home", root_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("ログイン", homes_before_signin_path, {class: "nav-item nav-link text-light"}) %></li>
            <li><%= link_to("会員登録", homes_before_signup_path, {class: "nav-item nav-link text-light"}) %></li>
          </ul>
          <% end %>
          </nav>
      <div id="hamburger">
         <span></span>
      </div>
   </header>
     <div class="flash">
       <% if flash.present? %>
         <%= render "layouts/flash", flash: flash %>
       <% end %>
     </div>
    <%= yield %>
  </body>
</html>

