<!DOCTYPE html>
<html>
  <head>
    <title>Musicrows</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#343a40;">
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in?  %>
          <li class="nav-item text-light nav-link ">
            <%= link_to("Home", root_path, {class: "fas fa-home nav-item nav-link text-light"}) %>
          </li>
          <li class="nav-item text-light nav-link ">
            <%= link_to("Mypage", user_path(current_user), {class: "fas fa-home nav-item nav-link text-light"}) %>
          </li>
          <li class="nav-item text-light nav-link">
            <%= link_to("Logout", destroy_user_session_path, {class: "fas fa-sign-out-alt nav-item nav-link text-light", method: :delete}) %>
          </li>
          <% else %>
          <li class="nav-item text-light nav-link ">
            <%= link_to("Home", root_path, {class: "fas fa-home nav-item nav-link text-light"}) %>
          </li>
          <li class="nav-item text-light nav-link ">
            <%= link_to("sign_in", new_user_session_path, {class: "fas fa-users nav-item nav-link text-light"}) %>
          </li>
          <li class="nav-item  text-light nav-link">
            <%= link_to("signup", new_user_registration_path, {class: "fas fa-book-open nav-item nav-link text-light"}) %>
          </li>
          <% end %>
        </ul>
        </div>
         </nav>
    </header>
    <%= yield %>
  </body>
</html>
